* {
    margin: 0;
    outline: none;

    box-sizing: border-box;
}
body {
    background-color: pink;
}

.container {
    max-width: 1200px;
    margin: 3px auto;
}

@media(max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    
    .section__item {
        flex: 0 1 45%;
    }
}
@media(max-width: 992px) {
    .container {
        max-width: 750px;
    }
    
    .section__item {
        flex: 0 1 45%;
    }
}
@media(max-width: 767px) {
    .container {
        max-width: none;
        padding: 0 15px;
    }
    
    .section__item {
        flex: 0 1 100%;
    }
}
